.header-container{
    display: flex;
    justify-content: space-between;
}
.logo > img{
    height: 100px;
}
.nav-links ul{
display: flex;
list-style-type: none;
}
.nav-links ul li {
    padding: 10px;
    margin: 10px;
}
.search-bar{
    width: 100%;
    text-align: center;
}
.res-container{
    justify-content:flex-start;
    display: flex;
    flex-wrap: wrap;
    
}
.res-card {
    margin: 10px;
    padding: 10px;
    width: 160px;
    border: 1px solid #ccc;
    border-radius: 12px;
    word-wrap: break-word;
}
.shimmer-container{
    justify-content:flex-start;
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: #ccc;
    height: 300px;
    width: 160px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
}
.res-img > img{
    height: 100px;
    width: 160px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;